<div id="loginpage">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-offset-2 col-xs-8 text-center">
				<img src="/images/soapboxLogo.svg" class='slideExpandUp' id="loginLogo"></img>
			</div>	
		</div>
		<div class="row">
			<div class="col-xs-offset-1 col-xs-10 text-center">
				<div class="fadeIn">
					<h1 class="tagline">Message people in your immediate vicinity</h1>
					<button id="facebooklogin" class="btn btn-primary" ng-click="login()">
						Login with Facebook
					</button>
				</div>
			</div>
		</div>
	</div>
</div>