<div class="row fix-row" id="meta-container">
	<div ng-controller="newSplashController">
		<button id="newsplash" class="btn btn-success btn-block" ng-click="openModal()">
			New Splash! 
		</button>
		<%= erb :_modal %>

	</div>
	<div class="col-md-8 col-md-offset-2" id="map-container">
	<div ng-controller="mapController" id="map-controller">
			<div id="map-canvas">
			</div>
	</div>
	</div>
</div>

