<nav id="navbar" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid fix-container">
	<div class="row fix-row">
		<div class="col-md-12">
			<div id="navbar-header">
				<a ng-href="/"><img class="navbar-brand" src="images/soapboxLogo.svg" id="navlogo" /></a>
			</div>
			<div ng-controller="logoutController">
			<div id="navbar-right" >
				<div id="postLoginNav" class="clearfix">
					<button class="btn btn-danger" ng-click = "logout()">Logout</button>
				</div>
					<a id="about-this" ng-click="openAbout()">How Does It Work? </a>
			</div>
			<div ng-include="'partials/infomodal.html'" ng-show="displayModal"></div>
			</div>
		</div>
	</div>

	<div class="row fix-row">
			<div id="loading-message" style="display:none">
				<span id="loading-text"></span>
				<i class="fa fa-spinner fa-spin"></i>
			</div>
		</div>
	</div>

</nav>