<nav id="navbar" class="navbar navbar-default navbar-fixed-top debug">
	<div class="container">
		<div class="navbar-header">
			<a ng-href="#/"><img class="navbar-brand" src="images/soapboxLogo.svg" id="navlogo" /></a>
		</div>
	</div>
</nav>