<!DOCTYPE html>
<html lang="en">
<head>
  <title>SoapBox</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="../../public/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../../public/favicon.ico" type="image/x-icon">
  <!-- End Favicon -->
  <link rel="stylesheet" href="/css/bootstrap/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">

</head>
<body>

  <%= yield %>
  <script data-main="js/config" src="js/vendor/require.js" type="text/javascript"></script>


</body>
</html>
